@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #eee;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
